<script>
    System.import('admin/module.js');
</script>

<div class="container-full" data-framework="typescript" ng-hint>
    <div class="row">
        <div class="col-sm-2">
            <v-admin-menu />
        </div>
        <div class="col-sm-10">
            <div ui-view />
        </div>
    </div>
</div>
