<script>
  System.import('admin/Module.js');
</script>

<div data-framework="typescript">
    Hello from admin module

    <div ng-controller="organizationCtrl as ctrl">
        <div ng-repeat="organization in ctrl.organizations">
            <div>{{ organization }}</div>
        </div>
    </div>
</div>
