@{
    Layout = "_ManageLayout";
}

<script>
    System.import('manage/bookings/bookings.module.js');

    var bookingsConfig = {
        apiUrl: '@Url.Action("Get", "BookingsApi", new {Area = "Manage"})',
        showUrl: '@Url.Action("Show", "Book")'
    }
    var toursConfig = {
        apiUrl: '@Url.Action("Index", "ToursApi", new {Area = "Manage"})' // needed for tour-selector
    }

</script>

<div data-ng-controller="BookingsController as vm">

    <div class="form-group">
        <label class="col-md-4 control-label" for="tourSelect" data-translate>tours.selectTour</label>
        <div class="col-md-4">
            <div tour-selector-directive ng-model="vm.idTour" id="tourSelect" ng-change="vm.tourChanged()"></div>
        </div>
    </div>

    <div class="row">
        <a href="Manage/BookingsApi/Export" class="btn btn-info" role="button">Export to csv</a>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Booking number</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Tour date</th>
            <th>Book date</th>
            <th>Checkin date</th>
            <th>Tour</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="booking in vm.bookings.bookings">
            <td><a href="{{vm.showUrl}}{{booking.idBookingSet}}">{{booking.bookingNumber}}</a></td>
            <td>{{booking.firstname}}</td>
            <td>{{booking.lastname}}</td>
            <td>{{booking.tourDate| date:'short'}}</td>
            <td>{{booking.bookDate| date:'short'}}</td>
            <td>{{booking.checkinDateTime| date:'short'}}</td>
            <td>{{booking.tourName}}</td>
        </tr>
        </tbody>
    </table>

    
</div>