<div>
    <!--Header-->
    <div class="modal-header">
        <h3 class="modal-title">{{vm.title}}</h3>
    </div>
    <!--Body-->
    <div class="modal-body">
        <p>{{vm.body}}</p>
    </div>
    <!--OK and Cancel buttons-->
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="vm.confirm()" style="width: 100px;">
            <i class="glyphicon glyphicon-ok"></i>
            OK
        </button>
        <button class="btn btn-danger" ng-click="vm.cancel()" style="width: 100px;">
            <i class="glyphicon glyphicon-remove"></i>
            Cancel
        </button>
    </div>
</div>