<form class="form-horizontal" data-ng-controller="usersCtrl as ctrl">
    <fieldset>

        <!-- Form Name -->
        <legend data-translate>users.create</legend>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="email" data-translate>users.email</label>
            <div class="col-md-6">
                <input id="email" name="email" type="text"
                       data-ng-model="ctrl.createUserDto.Email"
                       placeholder="example@domain.com" class="form-control input-md" required="">

            </div>
        </div>

        <!-- Password input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="password" data-translate>users.password</label>
            <div class="col-md-6">
                <input id="password" name="password" type="password" placeholder="" class="form-control input-md"
                       data-ng-model="ctrl.createUserDto.Password">

            </div>
        </div>

        <!-- Password input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="passwordrepeat" data-translate>users.repeatPassword</label>
            <div class="col-md-6">
                <input id="passwordrepeat" name="passwordrepeat" type="password" placeholder="" class="form-control input-md">
            </div>
        </div>

        <!-- Multiple Radios -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="chooseOrganization" data-translate>users.organization</label>
            <div class="col-md-4">
                <div>
                    <input type="radio" name="chooseOrganization" id="chooseOrganization-1"
                           ng-model="ctrl.organizationMode" value="1" />

                    <label for="chooseOrganization-1" data-translate>users.organizationChoose</label>

                </div>
                <div>
                    <input type="radio" name="chooseOrganization" id="chooseOrganization-0"
                           value="0" checked="checked" ng-model="ctrl.organizationMode" />

                    <label for="chooseOrganization-0" data-translate>users.organizationCreateNew </label>
                </div>
            </div>
        </div>

        <!-- Select Basic -->
        <div class="form-group" data-ng-show="ctrl.organizationMode == 1">
            <label class="col-md-4 control-label" for="SelectOrganization" data-translate></label>
            <div class="col-md-6">
                <select id="SelectOrganization" name="SelectOrganization" class="form-control">
                    <option value="1">Option one</option>
                    <option value="2">Option two</option>
                </select>
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group" data-ng-show="ctrl.organizationMode == 0">
            <label class="col-md-4 control-label" for="NewOrganizationName" data-translate>users.organizationCreateName</label>
            <div class="col-md-6">
                <input id="NewOrganizationName" name="NewOrganizationName" type="text" placeholder=""
                       class="form-control input-md">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label"></label>
            <div class="col-md-6">
                <button id="create" name="Create" class="btn btn-success" data-ng-click="ctrl.CreateUser()" data-translate>common.create</button>
                <a class="btn btn-default" role="button" ui-sref="users.list" data-translate>common.cancel</a>
            </div>
        </div>

    </fieldset>
</form>
