<div ng-controller="organizationCtrl as ctrl">
    <div v-crud-grid resource="organizationsResource" 
         id-binding="idOrganization"
         id-default-value="00000000-0000-0000-0000-000000000000"
         columns-definition='[
         {
            "binding"       :"idOrganization",
            "type"          :"disabled",
            "required"      :"true",
            "hidden"        :"false"
         },
         {
            "binding"       :"Name",
            "type"          :"text",
            "header"        :"Organization",
            "required"      :"true"
         }]'
         ></div>

    <!--<v-Sample>test</v-Sample>-->

    <!--<button type="button" class="btn btn-lg btn-primary" data-animation="am-fade-and-scale" data-placement="center" bs-modal="modal">
        Click to toggle modal
        <br>
        <small>(using an object)</small>
    </button>-->
</div>