<?xml version= "1.0" encoding= "utf-8" ?>
<configuration>
  <system.webServer>

    <!-- Disable caching -->
    <!-- Disable in production!!-->
    <httpProtocol>
      <customHeaders>
        <add name="Cache-Control" value= "no-cache" />
      </customHeaders>
    </httpProtocol>

  </system.webServer>
</configuration>