<script src="~/lib/system.js/dist/system.js"></script>

<script>
  // set our baseURL reference path
  System.config({
      baseURL: '/app',
      defaultJSExtensions: true

  });

  System.import('admin/Module.js');
</script>


<div data-framework="typescript">
    Hello dude

    <div ng-controller="organizationCtrl as ctrl">
        <div ng-repeat="organization in ctrl.organizations">
            <div>{{ organization }}</div>
        </div>
    </div>

    <!--
    <script src="~/app/admin/controllers/organizationctrl.js"></script>
    <script src="~/app/admin/module.js"></script>
-->




</div>