<script>
    System.import('default.module.js');
</script>

<div class="jumbotron">
    <h1>Welcome to BookingSystem</h1>
    <p>This is a prototype for new super awesome booking managment system.</p>
    <p>Currently this system is under heavy development and this homepage will be changed in future.</p>
    <p>
        @Html.ActionLink("Book tours »", "Index", "Book", new object { },
new { @class = "btn btn-lg btn-primary" })
    </p>
</div>