@using Tourtlee.BookingSystem.Web.Helpers;
@model IEnumerable<Tourtlee.BookingSystem.Business.Dto.Accounts.UserListItemDto>

@{
    Layout = "_AdminLayout";
    var users = Html.Angular().ModelFor("vm.customer");
}

<script>
    System.import('admin/users/users.module.js');

    var usersConfig = {
        usersList: @Html.JsonFor(Model),
        apiUrl: '@Url.Action("Index", "UsersApi", new { Area = "Admin" })'
    };
</script>

<div ng-controller="UsersController as vm">
    <p>
        @Html.ActionLink("users.create", "Create", "Users", routeValues: new { Area = "Admin" },
           htmlAttributes: new { title = "Admin", role = "button", @class = "btn btn-default", data_translate = "" })
    </p>

    <div v-crud-grid
         crud-resource="UsersResource"
         items="vm.usersList"
         id-binding="idUser"
         id-default-value="00000000-0000-0000-0000-000000000000"
         readonly="true"
         columns-definition='[
         {
            "binding"       :"idUser",
            "type"          :"disabled",
            "required"      :"false",
            "hidden"        :"false"
         },
         {
            "binding"       :"email",
            "type"          :"text",
            "header"        :"Email",
            "required"      :"true"
         },         {
            "binding"       :"organizationName",
            "type"          :"text",
            "header"        :"Organization",
            "required"      :"true"
         }]'></div>
</div>
