@using Tourtlee.BookingSystem.Web.Helpers;
@model IEnumerable<Tourtlee.BookingSystem.Business.Dto.OrganizationDto>
@{
    Layout = "_AdminLayout";
}

<script>
    System.import('admin/organizations/organizations.module.js');

    var organizationsConfig = {
        organizationsList: @Html.JsonFor(Model),
        apiUrl: '@Url.Action("Index", "OrganizationsApi", new { Area = "Admin" })'
    };

</script>

<div ng-controller="OrganizationsController as vm">
    <div crud-grid
         crud-resource="OrganizationsResource"
         items="vm.organizationsList"
         id-binding="idOrganization"
         id-default-value="00000000-0000-0000-0000-000000000000"
         columns-definition='[
    {
    "binding"       :"idOrganization",
    "type"          :"disabled",
    "required"      :"false",
    "hidden"        :"false"
    },
    {
    "binding"       :"name",
    "type"          :"text",
    "header"        :"Organization",
    "required"      :"true"
    }]'></div>
</div>