<!DOCTYPE html>

<html>
<head>
    <title>test</title>
    <script src="~/lib/angular/angular.js"></script>

</head>
<body>
@RenderBody()


@*<script asp-src-include="~/app/**/*.js"></script>*@
</body>
</html>