@using System.Security.Claims
<nav class="navbar navbar-default navbar-fixed-top" role="navigation" ng-cloak>
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Booking System</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'" ng-click="navCollapsed=true">

            <ul class="nav navbar-nav">
                <menulink area-name="" controller-name="Home" action-name="Index" menu-text="Home"></menulink>
                <menulink area-name="" controller-name="Book" action-name="Index" menu-text="Book"></menulink>
                <menulink area-name="" controller-name="CheckIn" action-name="Index" menu-text="CheckIn"></menulink>

                <li uib-dropdown>
                    <a href="#" id="manage-menu" uib-dropdown-toggle>Manage<b class="caret"></b></a>
                    <ul uib-dropdown-menu aria-labelledby="manage-menu">
                        <menulink area-name="Manage" controller-name="Tours" action-name="Index" menu-text="Tours"></menulink>
                        <menulink area-name="Manage" controller-name="Schedule" action-name="Index" menu-text="Schedule"></menulink>
                        <menulink area-name="Manage" controller-name="Bookings" action-name="Index" menu-text="Bookings"></menulink>
                    </ul>
                </li>

                <li uib-dropdown>
                    <a href="#" id="admin-menu" uib-dropdown-toggle>Admin <b class="caret"></b></a>
                    <ul uib-dropdown-menu aria-labelledby="admin-menu">
                        <menulink area-name="Admin" controller-name="Home" action-name="Index" menu-text="Main"></menulink>
                        <menulink area-name="Admin" controller-name="Organizations" action-name="Index" menu-text="Organizations"></menulink>
                        <menulink area-name="Admin" controller-name="Users" action-name="Index" menu-text="Users"></menulink>
                    </ul>
                </li>
            </ul>

            @if (User.IsSignedIn())
            {
                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    @Html.AntiForgeryToken()

                    <ul class="nav navbar-nav navbar-right">
                        <li role="separator" class="divider"></li>
                        <li>
                            @Html.ActionLink("Hello " + User.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                        </li>
                        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                    </ul>
                }
            }
            else
            {
                <ul class="nav navbar-nav navbar-right">
                    <li role="separator" class="divider"></li>
                    <li>
                        <menulink area-name="" controller-name="Account" action-name="Login" menu-text="Login"></menulink>
                    </li>
                </ul>
            }
        </div><!-- /.navbar-collapse -->
    </div>
</nav>